body {background-color: rgb(23, 23, 23);}
h1 {text-align: center; color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
h2 {color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
h3 {color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
p {color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
code {color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-radius: 2px;}
a {text-align: center; color: rgb(99, 136, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
span {color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

details {color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
summary {font-weight: bold;}

nav {text-align: center;}
hr{
    height: 3px;
    background-color: rgb(255, 255, 255);
    border: none;
}

button {
    font-family: initial; 
    font-size: initial;
    padding: 0px;
    margin: 0px;
    background-color: rgb(23, 23, 23);
    border-style: none;
    color: rgb(99, 136, 255);
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {  
    padding-left: 100px; 
    padding-right: 100px;  
    border-color: rgb(255, 255, 255);
    border-width: 0px;
    border-style: none;
}  
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.badges {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 0px;
    padding-top: 15px;
    text-align: center;
}
.codebg {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.codebgsmall {
    background-color: rgb(0, 0, 0);
    padding-top: 0px;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 15px; 
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sidebar {
    height: 325px;
    width: 170px;
    position: -webkit-sticky; /* for Safari users */
    position: sticky;
    top: 0px;
    float: left;
    margin-top: 0px;
    padding-top: 2px;
    background-color: rgb(23, 23, 23);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0px;
    padding-left: 10px; 
    padding-right: 10px; 
    border-radius: 10px;
}
    
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}
    
.body-text {
    margin-right: 5px;
}

.empty {
    padding-left: 0px; 
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;  
    margin: 0px;
    border-style: none;
}

html {
    scroll-behavior: smooth;
}

.shadowed-bg {
    background-color: rgb(23, 23, 23);
}

.bg {
    background-color: rgb(23, 23, 23);
    border-radius: 10px;
}

.div-with-sidebar {
    background-color: rgb(23, 23, 23);
    margin-left: 160px; 
    margin-bottom: 12px; 
    padding-left: 50px; 
    padding-right: 50px; 
    border-style: solid;
    border-radius: 10px;
}

.column-left {
    box-sizing: border-box;
    float: left;
    width: 49%;
    background-color: rgb(23, 23, 23);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 3px;
    margin-right: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}
.column-right {
    box-sizing: border-box;
    float: right;
    width: 49%;
    background-color: rgb(23, 23, 23);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 3px;
    margin-left: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

/* Clear floats after the columns */
.row:after {
    box-sizing: border-box;
    content: "";
    display: table;
    clear: both;
}

.stroke
{
    color: white;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}

.strokeblack
{
    color: white;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}

.table {
    box-sizing: border-box;
    padding-left: 0px; 
    padding-right: 0px; 
    display: table; 
    margin: 0 auto;
    
}

.table-element {
    box-sizing: border-box;
    background-color: rgb(23, 23, 23);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    vertical-align: top;
}

.table-column {
    box-sizing: border-box;
    background-color: rgb(23, 23, 23);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: top;
    border-radius: 10px;
}

.boring-hide {
    visibility: hidden;
}

table {
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgb(99, 136, 255);
}

td {
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px;
    background-color: rgb(23, 23, 23);
    color: white;
}

.addedtext {
    color: greenyellow;
}

.removedtext {
    color: red; 
    text-decoration: line-through;
}